.card-detail{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 11px var(--grayBlue);
    position: relative;
    margin: 2rem ;
}
.card-detail h2 {
    font-size: calc(var(--baseFontSize) + 1px);
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
    text-align: left;
}
.card-detail p {
    font-size: calc(var(--baseFontSize) - 3px);
    margin: 0 0 6px 0;
    color: var(--darkGray);
    text-align: left;
}
.card-detail button{
    margin: 2rem 0;
}
.table th, .table td:nth-child(even) {
    font-weight: bold;
}