.header{
    display: flex;
    padding: 1.5rem 0;
    background-color: var(--white);
  }
  .header .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
  }
  .username{
    font-size: calc(var(--baseFontSize) - 2px);
    display: flex;
    align-items: center;
  }
  .username span{
    text-transform: uppercase;
    font-weight: bold;
  }
  .headerRight{
    text-align: right;
    position: relative;
    display: flex;
  }
  .creditDetails.hidden{
    display: none;
  }
  .creditDetails{
    position: absolute;
    right: 0;
    background-color: var(--white);
    padding: 1rem;
    border: 1px solid var(--gray);
    min-width: 12rem;
    border-radius: 7px;
    top: 38px;
    z-index: 999;
    text-align: left;
  }
  .creditDetails p{
    font-size: calc(var(--baseFontSize) - 2px);
    margin: 0 0 10px 0;
  }
  .defaultProfile{
    margin-left: 10px;
  }
  .defaultProfile img{
    max-width: 28px;
    cursor: pointer;
  }
  nav{
    display: flex;
    margin-right: 1rem;
    border-right:1px solid  var(--gray);
    padding-right: 1rem;
  }
  nav button{
    padding: 0;
    margin-top: 0;
    background: transparent;
    font-size: calc(var(--baseFontSize) - 2px);
    border: none;
    cursor: pointer;
    color: var(--black);
  }
  nav button:hover, nav button:focus{
   border: none;
   outline: none;
   color: var(--primary);
  }
  @media(max-width:767px){
    .header img{
      max-width: 150px;
    }
    .header .defaultProfile img{
      max-width: 22px;
    }
  }