.news-detail {
  text-align: left;
}
.news-detail h1{
  text-align: left;
}
.news-detail .keywords{
  margin-right: 5px;
  border: 1px solid var(--gray);
  font-size: calc(var(--baseFontSize) - 4px);
  padding: 5px 7px;
  box-sizing: border-box;
}
.news-detail p{
  margin: 0 0 1rem 0;
}
.news-detail-ai{
  margin: 68px 0 0 22px;
}
.news-detail-ai .sidebar{
  width: 100%;
  margin: 30px 0 0 0;
}
.news-detail-ai h2{
  font-size: calc(var(--baseFontSize) + 5px);
  padding: 0 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}
.news-detail-ai h2 strong{
  display: block;
}
.news-detail-ai-section {
  background-color: var(--lightGray);
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.news-detail-ai-section img{
  max-width: 60px;
  cursor: pointer;
}
.single-widget{
  margin-bottom: 1rem;
}