@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato-Black.woff2') format('woff2'),
      url('../src/assets/fonts/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --baseFontSize: 16px;
  --gray: #c0c5d0;
  --mediumGray: #9599a3;
  --darkGray: #6e7072;
  --primary: #0e75be;
  --lightGray: #f2f6fe;
  --white: #ffffff;
  --black: #000000;
  --error: #e60000;
  --lightBlue: #ebf2ff;
  --grayBlue: #ebedf2;
  --lightBlue: #dadce0
}
::placeholder {
  color: var(--mediumGray);
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--mediumGray);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--lightGray);
}
h1 {
  font-size: 2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}