@import "../../index.css";
.forgot-password-wrapper h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .forgot-password-wrapper h3 {
    font-size: var(--baseFontSize);
    margin: 0 0 2rem 0;
    font-weight: normal;
  }
  .forgot-password-wrapper{
    background-color: var(--white);
    width: 50%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    text-align: left;
  }
  .close-icon{
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
  }
  